.container{
margin-top: 70px;

}
.cardBody {
    display: flex;
    align-items: center;
    
}
  
.price {
    font-weight: bold;
    margin-bottom: 0.25rem;
}
.button {
    margin-top: 0.25rem;
     margin-left: 5.2rem;
}

.card{
    width: 15rem;
    height: 15rem
}
.changer{
    display:flex;
    justify-content: center;
    gap:0.5rem;
    margin-top:0.5rem
}