.button {
   
    cursor: pointer;
    font: inherit;
    margin-right: 1rem;
    /* border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold; */
  }

  .button:hover,
  .button:active {
    background-color: #2c0d00;
  }

  .icon {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;
       width: 1.35rem
  }
  
  .icon img {
      width: 100%; 
      height: auto;
  }

  .title{
    color: white;
  }
  

  .badge {
    background-color: #e6dedb;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
    color: blue;
  }

  .button:hover .badge,
  .button:active .badge {
    background-color: #cdc8c6;
  }

  .bump {
    animation: bump 300ms ease-out;
  }

  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }