
body{
    background-image: url(assests7/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-color: brown
}


@tailwind base;
@tailwind components;
@tailwind utilities;